
<!--<mat-drawer-container class="">-->
  <!--<mat-drawer mode="side" class="flex-wrap" style="flex-wrap: wrap" opened="true">-->
    <!--<app-side-bar></app-side-bar>-->
  <!--</mat-drawer>-->
  <!--<mat-drawer-content>-->
    <!--<div class="container">-->
      <!--<flash-messages></flash-messages>-->
      <!--<router-outlet></router-outlet>-->
      <!--&lt;!&ndash;<app-datepicker></app-datepicker>&ndash;&gt;-->
    <!--</div>-->
  <!--</mat-drawer-content>-->
<!--</mat-drawer-container>-->
<mat-sidenav-container class="all-wrap" fullscreen >
  <mat-sidenav mode="side" opened="true"  class="nav-side-menu">
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <div class="page-wrap">
    <header role="banner">
      <app-navbar></app-navbar>
    </header>
    <main class="content">
      <div class="container">
      <flash-messages></flash-messages>
      <router-outlet></router-outlet>
      </div>
    </main>
    <footer>
      Your sticky footer with a variable height
    </footer>
  </div>
</mat-sidenav-container>

